@media (min-width: 300px) {
  .list-1 {
    font-size: 17px;
  }
}

@media (min-width: 576px) {
  .list-1 {
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .list-1 {
    font-size: 20px;
  }
}

.list-1 {
  font-family: monospace;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(255,255,255);
  padding-top: 15px;
  padding-bottom: 15px;
}

.list-item-1 {
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

